<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_suite">
    <test name="Check Add Products">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="SmokeTest"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.TC_LoginTest_001"/>
            <class name="testCases.TC_AddProductToCart_003"/>
        </classes>
    </test>
    <test name="Check login by DDT">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="DDT"/>
            </run>
        </groups>
        <classes>
<!--            <class name="testCases.TC_LoginDDT_002"/>-->
            <class name="testCases.TC_LoginTest_001"/>
            <class name="testCases.TC_AddProductToCart_003"/>
            <class name="testCases.TC_CheckoutFillOutInfoDDT_004"/>
        </classes>
    </test>
</suite>